.card {
  list-style: none;
  width: 540px;
  padding: 0;
}

.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0 auto 32px 0;
}

.card__list-item {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 16px;
  line-height: 20px;
  margin: 16px 0 0;
  display: flex;
}

.card__list-divider {
  border-bottom: solid thin #838383;
  flex-grow: 1;
}
